<ion-view view-title="Fuel Prices - Petrol">
  <!-- Uncomment to let the controller called 'FuelController' work as soon as the page loads-->
    <ion-content >
      <!--Experimental content to pull refresh-->
      <ion-refresher pulling-text="Check prices" on-refresh="alert('Hello');"></ion-refresher>
      <!-- Trying out loop since the JSON is now working -->
      <div class="card" ng-repeat="omc in omcs" ng-controller="toggleShowCtrl" >
          <div ng-hide="myVar">NOW YOU SEE ME top</div>
        <a ng-click="toggle()" class="item item-text-wrap"> {{omc.name}}<h3 id="thePrice" style="float:right;">GHS {{omc.petrol}}</h3></a>
        <div ng-hide="myVar">NOW YOU SEE ME</div>
      </div>

  </ion-content>
</ion-view>

